<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nekottyo.alfred-datadog-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0C3DD8FF-BF53-4DB9-A37D-C755EF75F528</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F624D40B-96FA-4EBC-A303-8EC0C8DB780E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>150DB521-2E31-4A8F-AF74-D421B9FFE436</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AD565F7-0DBE-47A1-A215-AA0CB60329AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C1450E5-2732-4FED-B07C-5AB5E26FE762</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>699CE2F4-E0E2-4857-B343-D6FCAA12BE0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>493DC438-F04E-42BD-9C55-EAE89997C97E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C942901-1489-4E64-9BE4-CAFEE6EEF09C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AD565F7-0DBE-47A1-A215-AA0CB60329AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>493DC438-F04E-42BD-9C55-EAE89997C97E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EFAADA66-1A22-4081-BFE3-E5DE52BF581A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7054CFEE-11A4-4845-BE3A-CBA61582D572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>036F2B0E-C902-4D03-A265-782B5AE5746E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7054CFEE-11A4-4845-BE3A-CBA61582D572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A75771-CA39-4870-B46C-D3F8AB5D9364</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DC276A9-F1C2-41BF-9DB3-7AC2B652E91D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4C44BA6-3B4C-4F1F-833C-D5FF57FA2893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4C44BA6-3B4C-4F1F-833C-D5FF57FA2893</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>150DB521-2E31-4A8F-AF74-D421B9FFE436</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD86FE97-6524-4739-A11B-F38D939C2008</key>
		<array/>
		<key>FCAB7238-7C9E-4CC9-BD78-50772140CA14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD86FE97-6524-4739-A11B-F38D939C2008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nekottyo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Datadog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dd dashboard</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./alfred-datadog-workflow -dashboard "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Dashboard</string>
				<key>title</key>
				<string>dashboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FCAB7238-7C9E-4CC9-BD78-50772140CA14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter your api key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>493DC438-F04E-42BD-9C55-EAE89997C97E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dd auth</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>auth</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DC276A9-F1C2-41BF-9DB3-7AC2B652E91D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-datadog-workflow -apikey $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C942901-1489-4E64-9BE4-CAFEE6EEF09C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"ApiKey","arg":"apikey","subtitle":"Store Api Key"},{"title":"AppKey","arg":"appkey","subtitle":"Store Application Key"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D4C44BA6-3B4C-4F1F-833C-D5FF57FA2893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DD86FE97-6524-4739-A11B-F38D939C2008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>apikey</string>
						<key>outputlabel</key>
						<string>apikey</string>
						<key>uid</key>
						<string>EFAADA66-1A22-4081-BFE3-E5DE52BF581A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>appkey</string>
						<key>outputlabel</key>
						<string>appkey</string>
						<key>uid</key>
						<string>036F2B0E-C902-4D03-A265-782B5AE5746E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4AD565F7-0DBE-47A1-A215-AA0CB60329AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>150DB521-2E31-4A8F-AF74-D421B9FFE436</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-datadog-workflow -appkey $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13A75771-CA39-4870-B46C-D3F8AB5D9364</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter your app key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7054CFEE-11A4-4845-BE3A-CBA61582D572</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>699CE2F4-E0E2-4857-B343-D6FCAA12BE0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dd monitor</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./alfred-datadog-workflow -monitor "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Monitor</string>
				<key>title</key>
				<string>monitor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1C1450E5-2732-4FED-B07C-5AB5E26FE762</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F624D40B-96FA-4EBC-A303-8EC0C8DB780E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dd open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./alfred-datadog-workflow -service "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>watchdog, event,dashboard...</string>
				<key>title</key>
				<string>open services</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C3DD8FF-BF53-4DB9-A37D-C755EF75F528</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C3DD8FF-BF53-4DB9-A37D-C755EF75F528</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>13A75771-CA39-4870-B46C-D3F8AB5D9364</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>150DB521-2E31-4A8F-AF74-D421B9FFE436</key>
		<dict>
			<key>xpos</key>
			<integer>915</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>1C1450E5-2732-4FED-B07C-5AB5E26FE762</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>493DC438-F04E-42BD-9C55-EAE89997C97E</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>4AD565F7-0DBE-47A1-A215-AA0CB60329AE</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>699CE2F4-E0E2-4857-B343-D6FCAA12BE0A</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>6C942901-1489-4E64-9BE4-CAFEE6EEF09C</key>
		<dict>
			<key>xpos</key>
			<integer>1335</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>7054CFEE-11A4-4845-BE3A-CBA61582D572</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>9DC276A9-F1C2-41BF-9DB3-7AC2B652E91D</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>D4C44BA6-3B4C-4F1F-833C-D5FF57FA2893</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>DD86FE97-6524-4739-A11B-F38D939C2008</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>F624D40B-96FA-4EBC-A303-8EC0C8DB780E</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>FCAB7238-7C9E-4CC9-BD78-50772140CA14</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/nekottyo/alfred-datadog-workflow</string>
</dict>
</plist>
